<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab" >
    <ul class="list-input settings-list" >

        <li class="field comp-setting-entry is-set" >
            <div class="wrapper-comp-setting" >
                <label class="label setting-label" for="pdf_edit_display_name" >Media Title</label >
                <input class="input setting-input" id="pdf_edit_display_name" value="{{ display_name }}" type="text" >
            </div >
            <span class="tip setting-help" >This name appears in the horizontal navigation at the top of the page.</span >
        </li >

        <li class="field comp-setting-entry is-set" >
            <div class="wrapper-comp-setting" >
                <label class="label setting-label" for="pdf_edit_display_description" >Media Description</label >
                <input class="input setting-input" id="pdf_edit_display_description" value="{{ display_description }}"
                       type="text" >
            </div >
            <span class="tip setting-help" >Display description appears as a subtitle in the client app.</span >
        </li >

        <li class="field comp-setting-entry is-set" >
            <div class="wrapper-comp-setting" >
                <label class="label setting-label" for="thumbnail" >Media Thumbnail</label >
                <input class="input setting-input" name="thumbnail" id="thumbnail" type="file" />
            </div >
            <span class="tip setting-help" >Upload a thumbnail image</span >
        </li >

        <li class="field comp-setting-entry is-set" >
            <div class="wrapper-comp-setting" >
                <label class="label setting-label" for="pdf_edit_url" >Upload your PDF</label >
                <input class="input setting-input" id="pdf_edit_url" type="file" >
            </div >
            <span class="tip setting-help" >Upload your PDF.</span >
        </li >

        <li class="field comp-setting-entry is-set" >
            <div class="wrapper-comp-setting" >
                <label class="label setting-label" for="pdf_edit_allow_download" >PDF Download Allowed</label >
                <select class="input setting-input" id="pdf_edit_allow_download" >
                    <option value="True" {% if allow_download %}selected{% endif %} >True</option >
                    <option value="False" {% if not allow_download %}selected{% endif %} >False</option >
                </select >
            </div >
            <span class="tip setting-help" >Display a download button for this PDF.</span >
        </li >



    </ul >

    <div class="xblock-actions" >
        <ul >
            <li class="action-item" >
                <a href="#" class="button action-primary action-save" >Save</a >
            </li >
            <li class="action-item" >
                <a href="#" class="button action-cancel" >Cancel</a >
            </li >
        </ul >
    </div >
</div >


