<div class="pdf_block">
    <h2>{{ display_name }}</h2>
    <object data="{{ url }}" type="application/pdf" width="100%" height="600">
        <p>
            It appears you don't have a PDF plugin for this browser.</a>
        </p>
    </object>
    {% if allow_download or source_url != "" %}
    <ul>
        {% if allow_download %}
        <li class="pdf-download-button">
            <a href="{{ url }}" download>Download the PDF</a>
        </li>
        {% endif %}
        {% if source_url != "" %}
        <li class="pdf-download-button">
            <a href="{{ source_url }}" download>{% if source_text == "" %}Download the source document{% else %}{{ source_text }}{% endif %}</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
