<div class="pdf_block" >
    {% if url != "" %}
    <object data="{{ url }}" type="application/pdf" >
        <p >
            It appears you don't have a PDF plugin for this browser.</a>
        </p >
    </object >
    {% else %}
    <div >
        <p>Please provide a link to PDF</p>
    </div >
    {% endif %}

    {% if allow_download != "" %}
    <ul >
        {% if allow_download %}
        <li class="pdf-download-button" >
            <a href="{{ url }}" download >Download the PDF</a >
        </li >
        {% endif %}
    </ul >
    {% endif %}
</div >
