section#course-content.course-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100% !important;
}

.pdf-download-button {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}
.pdf-download-button a {
    transition: all 0.25s ease-in-out 0s;
    font-size: 14px;
    line-height: 14px;
    float: left;
    border-radius: 3px;
    background-color: #FFF;
    padding: 15px;
    color: #646464;
}
.pdf-download-button a:hover, a:focus {
    background-color: #009FE6;
    color: #FFF;
}

.pdf_block object {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.xblock-render .pdf_block object {
    position: relative;
    height: 600px;
}
